body {
 background-color: cornflowerblue;
}

p {
 font-size: 18px;
 text-align: left;
 color: green;
}

ul {
    line-height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
div {
    border: 2px solid black;
    margin-right: 1500px;
  }